{% extends 'index.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>AbNom</th>
                <td>{{ abonnement.abNom }}</td>
            </tr>
            <tr>
                <th>AbType</th>
                <td>{{ abonnement.abType }}</td>
            </tr>
            <tr>
                <th>AbPrix</th>
                <td>{{ abonnement.abPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_index') }}">back to list</a>

    <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">edit</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
